src/main/mule/sftomoodle.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:moodle-rest-lms="http://www.mulesoft.org/schema/mule/moodle-rest-lms"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/moodle-rest-lms http://www.mulesoft.org/schema/mule/moodle-rest-lms/current/mule-moodle-rest-lms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="sftomoodleCreateFlow" doc:id="53befdd5-28d8-40b1-9983-352b92ca7777" >
		<salesforce:new-object-listener doc:name="On New Object" doc:id="bbfbe8a7-d961-45b2-be80-ce011f02fc93" objectType="Moodle_Course__c" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
		</salesforce:new-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="afe6d3e5-1ec4-48b6-b142-aeac99e86909" message="Salesforce to Moodle Create Flow Started"/>
		<ee:transform doc:name="Transform Message" doc:id="9efdfe90-d33f-49f4-af2c-837024ab1729" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  wstoken:"02771f60ade5748fb182d17e45e72ca2",
  wsfunction:"core_course_create_courses",
  moodlewsrestformat:"json",
  "courses[0][fullname]":payload.Name default "",
  "courses[0][shortname]": payload.Short_Name__c default "",
  "courses[0][categoryid]": payload.Category_ID__c as Number default 1,
  "courses[0][idnumber]": payload.ID_Number__c default "",
  "courses[0][summary]": payload.Summary__c default "",
  "courses[0][summaryformat]": payload.Summary_Format__c as Number default 1 ,
  "courses[0][format]": payload.Format__c default "topics",
  "courses[0][showgrades]": if(payload.Show_Grades__c) 1 else 0,
  "courses[0][newsitems]": payload.News_Items__c as Number default 5 ,
  "courses[0][startdate]" : payload.End_Date__c as Number,
  "courses[0][enddate]": payload.End_Date__c as Number,
  "courses[0][numsections]": payload.Num_Sections__c as Number default 10 ,
  "courses[0][maxbytes]": payload.Max_File_Size__c as Number default 2097152,
  "courses[0][showreports]": if(payload.Show_Reports__c) 1 else 0,
  "courses[0][visible]": if(payload.Visible__c) 1 else 0,
  "courses[0][hiddensections]": payload.Hidden_Sections__c as Number default 0,
  "courses[0][groupmode]": payload.Group_Mode__c as Number default 1 ,
  "courses[0][groupmodeforce]": if(payload.Group_Mode_Force__c) 1 else 0,
  "courses[0][defaultgroupingid]": payload.Default_Grouping_ID__c as Number default 0 ,
  "courses[0][enablecompletion]": if(payload.Enable_Completion__c) 1 else 0,
  "courses[0][completionnotify]": if(payload.Completion_Notify__c) 1 else 0,
  "courses[0][lang]": payload.Forced_Language__c default "en",
  "courses[0][forcetheme]": payload.Force_Theme__c default "boost",
  "courses[0][courseformatoptions][0][name]": "numsections",
  "courses[0][courseformatoptions][0][value]": "10",
  "courses[0][customfields][0][shortname]": "customcode",
  "courses[0][customfields][0][value]": "XYZ123"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="63e368cd-9e4f-48b6-938f-b803d0e9eb46" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<moodle-rest-lms:post-core-course-create-courses doc:name="Create Courses" doc:id="55f175d0-06d8-4cef-abce-89c1f45ba1c6" config-ref="Moodle_Rest_Lms_Config">
			<moodle-rest-lms:post-core-course-create-courses-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
payload]]]></moodle-rest-lms:post-core-course-create-courses-body>
		</moodle-rest-lms:post-core-course-create-courses>
		<logger level="INFO" doc:name="Logger" doc:id="ddb2c2e7-5804-4281-be07-540922fa7f99" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="7a8e9b9d-07ef-4338-9808-ff16c89f6c9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="17b0f81b-3a64-432e-9841-c14e67ff40a8" message="Salesforce to Moodle Create Flow Ended"/>
	</flow>
	<flow name="sftomoodleUpdateFlow" doc:id="c9d54098-7558-4583-937c-13e431464305" >
		<salesforce:modified-object-listener doc:name="On Modified Object" doc:id="4335d4e2-a5b7-45a3-a5b4-e13c8c392c55" objectType="Moodle_Course__c" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="afe132e9-1181-4351-8386-bdf2d51e6fd7" message="Salesforce to Moodle Update Flow Started"/>
		<ee:transform doc:name="Transform Message" doc:id="abeddc29-bcdc-4e44-bb11-9917515e9e6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  wstoken:"02771f60ade5748fb182d17e45e72ca2",
  wsfunction:"core_course_update_courses",
  moodlewsrestformat:"json",
  "courses[0][id]":payload.Moodle_Course_ID__c as Number default 1,
  "courses[0][fullname]":payload.Name default "",
  "courses[0][shortname]": payload.Short_Name__c default "",
  "courses[0][categoryid]": payload.Category_ID__c as Number default 1,
  "courses[0][idnumber]": payload.ID_Number__c default "",
  "courses[0][summary]": payload.Summary__c default "",
  "courses[0][summaryformat]": payload.Summary_Format__c as Number default 1 ,
  "courses[0][format]": payload.Format__c default "topics",
  "courses[0][showgrades]": if(payload.Show_Grades__c) 1 else 0,
  "courses[0][newsitems]": payload.News_Items__c as Number default 5 ,
  "courses[0][startdate]" : payload.End_Date__c as Number,
  "courses[0][enddate]": payload.End_Date__c as Number,
  "courses[0][numsections]": payload.Num_Sections__c as Number default 10 ,
  "courses[0][maxbytes]": payload.Max_File_Size__c as Number default 2097152,
  "courses[0][showreports]": if(payload.Show_Reports__c) 1 else 0,
  "courses[0][visible]": if(payload.Visible__c) 1 else 0,
  "courses[0][hiddensections]": payload.Hidden_Sections__c as Number default 0,
  "courses[0][groupmode]": payload.Group_Mode__c as Number default 1 ,
  "courses[0][groupmodeforce]": if(payload.Group_Mode_Force__c) 1 else 0,
  "courses[0][defaultgroupingid]": payload.Default_Grouping_ID__c as Number default 0 ,
  "courses[0][enablecompletion]": if(payload.Enable_Completion__c) 1 else 0,
  "courses[0][completionnotify]": if(payload.Completion_Notify__c) 1 else 0,
  "courses[0][lang]": payload.Forced_Language__c default "en",
  "courses[0][forcetheme]": payload.Force_Theme__c default "boost",
  "courses[0][courseformatoptions][0][name]": "numsections",
  "courses[0][courseformatoptions][0][value]": "10",
  "courses[0][customfields][0][shortname]": "customcode",
  "courses[0][customfields][0][value]": "XYZ123"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="900562b6-ca0a-496c-a43f-de84d3a7eba2" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<moodle-rest-lms:post-core-course-update-courses doc:name="Update Courses" doc:id="e0a2cbb8-358c-4b01-a1b2-d170cf63a085" config-ref="Moodle_Rest_Lms_Config">
			<moodle-rest-lms:post-core-course-update-courses-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
payload]]]></moodle-rest-lms:post-core-course-update-courses-body>
		</moodle-rest-lms:post-core-course-update-courses>
		<logger level="INFO" doc:name="Logger" doc:id="886a6e00-e505-4b2a-956a-71997d7c8ef1" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="2dac32a1-647e-439c-a767-ad9f09bdd427" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b78d10f9-488e-4d44-8f0e-1474d6a1c5cb" message="Salesforce to Moodle Update Flow Ended"/>
	</flow>
	<flow name="sftomoodleDeleteFlow" doc:id="9f70a225-e27c-48e6-8fdd-5597565914da" >
		<salesforce:deleted-object-listener doc:name="On Deleted Object" doc:id="9de8a6be-80c6-4241-8790-2bf5578a1d4c" objectType="Moodle_Course__c" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</salesforce:deleted-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="54d79ac6-101b-45e3-9e53-8435af87df05" message="Salesforce to Moodle Delete Flow Started"/>
		<ee:transform doc:name="Transform Message" doc:id="d3682cec-c1b1-4e94-94d4-7b1eb01bacf6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  wstoken:"02771f60ade5748fb182d17e45e72ca2",
  wsfunction:"core_course_delete_courses",
  moodlewsrestformat:"json",
  "courseids[0]":payload.Moodle_Course_ID__c as Number default 1
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6771f369-9d4e-4ce0-8d0e-c25f693016e3" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<moodle-rest-lms:post-core-course-delete-courses doc:name="Delete Courses" doc:id="1034e60e-aeb4-4b78-952b-e872d9fde9c8" config-ref="Moodle_Rest_Lms_Config">
			<moodle-rest-lms:post-core-course-delete-courses-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
payload]]]></moodle-rest-lms:post-core-course-delete-courses-body>
		</moodle-rest-lms:post-core-course-delete-courses>
		<logger level="INFO" doc:name="Logger" doc:id="c383c0c0-ec17-4870-a702-53f08d30d06a" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="963436c3-e15c-4171-b7da-369a1c38734c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8efe7b92-0769-4826-9fd9-8a3f67457a80" message="Salesforce to Moodle Delete Flow Ended"/>
	</flow>
</mule>
